---
import { getCollection } from "astro:content";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Crafted from "../components/Crafted.astro";
import Testimonials from "../components/Testimonials.astro";

const allServices = await getCollection("services");

const title = 'Services';
const headerTitle = 'Services';
const headerText = 'Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.';
---
<Layout title={title}>
  <Hero headerTitle={headerTitle} headerText={headerText} />
  <section class="services bg-main text-main py-5">
    <div class="grid container">
      {allServices.map(service => <ServiceCard svg={service.data.svg} title={service.data.title} description={service.data.description} /> )}
    </div>
  </section>
  <Crafted />
  <Testimonials />
</Layout>

<style>
  .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 576px) {
    .grid {
      display: block;
    }
  }
</style>