---
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';

const allPosts = await getCollection("posts");

allPosts.sort((a , b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const recentThree = allPosts.slice(-3);
---
<section class="recent-blog bg-main text-main py-5">
<div class="container">
  <div class="title mb-5">
    <h2>Recent Blog</h2>
    <a href="/blog">View All Posts</a>
  </div>
  <div class="posts">
    {recentThree.map((post) => <PostCard image={post.data.image} title={post.data.title} author={post.data.author} date={post.data.pubDate} link={post.slug} />
    )}
  </div>
</div>
</section>

<style>
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }

  .title {
    display: flex;
    justify-content: space-between;

    & a {
      color: #2f2f2f;
      font-size: 0.875em;
      font-weight: 600;
    }
  }

</style>