---
const { text, title, subtitle, imageSrc, imageAlt } = Astro.props;
---

<div class="testimonial-item">
  <p class="mx-auto">{text}</p>
  <img class="rounded-circle" src={imageSrc} alt={imageAlt}>
  <h3>{title}</h3>
  <p class="mx-auto">{subtitle}</p>
</div>

<style>
  .hidden {
    display: none;
  }

  .testimonial-item {
    text-align: center;

    & p {
      max-width: 800px;
    }

    & img {
      width: 70px;
    } 
  }
</style>