---
import { getCollection } from "astro:content";
import TestimonialItem from "./TestimonialItem.astro";

const allTestimonials = await getCollection("testimonials");
---
<section>
  <h2>Testimonials</h2>

  <div class="testimonials-container">
    {allTestimonials.map((testimonial) =>
       <TestimonialItem text={testimonial.data.text} imageSrc={testimonial.data.image.url} imageAlt={testimonial.data.image.alt} title={testimonial.data.title} subtitle={testimonial.data.subtitle} />
       )}
    <button id="previous" class="btn btn-outline-dark">Previous</button>
    <button id="next" class="btn btn-outline-dark">Next</button>
  </div>

</section>

