---
import { getCollection } from "astro:content";
import TestimonialItem from "./TestimonialItem.astro";

const allTestimonials = await getCollection("testimonials");
---
<section class="testimonials bg-main text-main py-5">
<div class="position-relative container">
  <h2 class="text-center mb-4">Testimonials</h2>

  <div class="testimonials-container position-relative">
    {allTestimonials.map((testimonial) =>
       <TestimonialItem text={testimonial.data.text} imageSrc={testimonial.data.image.url} imageAlt={testimonial.data.image.alt} title={testimonial.data.title} subtitle={testimonial.data.subtitle} />
       )}
  </div>
  <button id="previous" class="btn btn-outline-dark position-absolute start-0 rounded-circle ">&#60;</button>
  <button id="next" class="btn btn-outline-dark position-absolute end-0 rounded-circle ">&#62;</button>
</div>
</section>

<style>
 
 .container {
  height: 400px;
 }

 button {
  padding: 15px 20px;
  border: none;
  background-color: #dce5e4;

  &:hover {
    background-color: #3B5D50;
    color: white;
  }
 }
</style>